doctype html
link( rel = 'stylesheet', href = 'styles.styl' )

.topPadding

.surrounding
    .surrounding
        .surrounding
            .CropArea
                .CropArea-area.draggable
                .CropArea-handle.draggable
.topPadding
.topPadding
.topPadding
.topPadding

script( src = 'el.js' )
script( src = 'event-handler.js' )
script( src = 'dragging.js' )
script( src = 'testing.js' )
