body {
  margin: 0;
  font-family: sans-serif;
}
.CropArea {
  position: relative;
  width: 500px;
  height: 500px;
  background: #c00;
}
.draggable {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.CropArea-area {
  background: #f00;
  width: 10%;
  height: 30%;
}
.CropArea-handle {
  background: #008000;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.surrounding {
  padding: 10px;
}
.topPadding {
  padding-top: 1000px;
  background: #ddd;
}
